body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://i.imgur.com/xCA1sUT.png') no-repeat center center fixed;
    background-size: cover;
    transition: background-color 0.3s ease;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
}

.container {
    display: inline-block;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    transition: background-color 0.3s ease;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #666;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer a {
    color: #007bff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.language-switcher select {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.language-switcher select:hover {
    background-color: #0056b3;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
    }

    .background {
        filter: blur(10px);
    }

    .container {
        background-color: rgba(0, 0, 0, 0.7);
    }

    h1 {
        color: #fff;
    }

    p {
        color: #ccc;
    }

    .footer {
        background-color: #333;
        color: #ccc;
    }

    .footer a {
        color: #4e9ef1;
    }

    .footer a:hover {
        color: #aad4ff;
    }

    .language-switcher select {
        background-color: #4e9ef1;
        color: black;
    }

    .language-switcher select:hover {
        background-color: #aad4ff;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
    }

    .background {
        filter: blur(10px);
    }

    .container {
        background-color: rgba(255, 255, 255, 0.9);
    }

    h1 {
        color: #333;
    }

    p {
        color: #666;
    }

    .footer {
        background-color: #fff;
        color: #666;
    }

    .footer a {
        color: #007bff;
    }

    .footer a:hover {
        color: #0056b3;
    }
}
