body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.uwu {
    text-align: center;
    white-space: pre;
    display: inline-block;
    text-align: left;
}