<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">Uptime Responder</title>
    <link rel="icon" href="favicon.ico" sizes="any">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="language-switcher">
        <select onchange="setLanguage(this.value)">
            <option value="en-US">English</option>
            <option value="zh-TW">繁體中文</option>
            <option value="zh-CN">简体中文</option>
        </select>
    </div>
    <div class="background"></div>
    <div class="container">
        <h1 id="online">{{ name }} is online!</h1>
        <p id="loaded">Uptime Responder cog is loaded.</p>
        <p><strong id="uptime-label">Uptime:</strong> <span id="uptime"></span></p>
        <p><strong id="latency-label">Discord WS Latency:</strong> <span id="latency"></span></p>
        <iframe id="status-badge" width="250" height="30" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="footer">
        <p><a href="/en-US/terms-of-service" id="terms">Terms of Service</a> | <a href="/en-US/privacy-policy" id="privacy">Privacy Policy</a></p>
    </div>
    <script src="script.js"></script>
    <script src="theme-switch.js"></script>
    <script>
        async function setLanguage(lang) {
            const response = await fetch('translations.json');
            const translations = await response.json();
            const translation = translations[lang];

            document.documentElement.lang = lang;
            document.getElementById('title').innerText = translation.title;
            document.getElementById('online').innerText = translation.botname + translation.online;
            document.getElementById('loaded').innerText = translation.loaded;
            document.getElementById('uptime-label').innerText = translation.uptime;
            document.getElementById('latency-label').innerText = translation.latency;
            document.getElementById('terms').innerText = translation.terms;
            document.getElementById('privacy').innerText = translation.privacy;
            document.getElementById('terms').href = `/${lang}/terms-of-service`;
            document.getElementById('privacy').href = `/${lang}/privacy-policy`;
            window.translation = translation;
        }
    </script>
</body>
</html>